<div class="button-container">
    <button><a href= <%-`http://localhost:4000/question${current -1}`%>>Previous</a></button>
    <button><a href= <%-`http://localhost:4000/question${current +1}`%>>Next</a></button>
  
  </div>