<!DOCTYPE html>
<head>
  <%- include ("../partials/head.ejs", {}) %>
</head>
<body class="missingpage">
  
    <img class="flowers" src="images/flowers.gif"/>
    <div class="bacon">
    <p>Before you criticize someone, you should walk a mile in their shoes.</p>
    <p>That way when you criticize them, you are a mile away from them and you have their shoes.</p>
 <!-- <a class="linkbutton" class="gohomedolphin" href="http://localhost:4000">Return home</a> -->
  </div>
</body>
