<!DOCTYPE html>
<head>
  <%- include ("../partials/head.ejs", {}) %>
</head>
<body class="missingpage">
  
    <img class="dolphin" src="images/dolphin.gif"/>
    <div class="fourohfour">
    <p>Oh sorry, you thought you were going to LEARN something???</p>
 <a class="linkbutton" class="gohomedolphin" href="http://localhost:4000">Return home</a>
  </div>
</body>
